/* FONTS */

@font-face {

  font-family: "Roboto";
  src:
    local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;

}

@font-face {

  font-family: "Roboto";
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: bold;

}

@font-face {

  font-family: "Roboto";
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;

}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


/* CUSTOM COLORS */

:root {

  --basic-text-black: #283136;
  --basic-black: #000000;
  --basic-light-black: #4D4D4D;
  --basic-red: #FB565A;
  --basic-grey: #EEEEEE;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-shadow-grey: #E1E1E1;
  --basic-white: #FFFFFF;
  --basic-discount-text: #444444;
  --contacts-grey: #666666;
  --focus-red: #E74246;
  --active-red: #D7373B;
  --focus-green: #00BC6C;
  --active-green: #00AA62;
  --focus-yellow: #EAB534;
  --active-yellow: #E5A722;
  --focus-grey: #DFDFDF;
  --active-grey: #D5D5D5;

}

/* GLOBAL */

.page {

  height: 100%;

}

.page__body {

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;

  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text-black);
  background: var(--basic-white);

}

.visually-hidden {

  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;

}

img {

  max-width: 100%;
  height: auto;

}

.header {

  background-color: var(--basic-grey);

}

.wrapper {

  position: relative;
  max-width: 1160px;
  margin: 0 auto;

}

.button {

  display: inline-block;
  padding: 16px 40px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 3px;
  border: none;
  color: var(--basic-white);
  background: var(--basic-red);

  transition: 0.6s ease-in-out
}

.button:focus,
.button:hover {

  background-color: var(--focus-red);

}

.button:active {

  background: var(--active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}



/* navigation */

.navigation__logo {

  min-height: 65px;
  margin-top: 0;

}

.navigation__logo--catalog:hover,
.navigation__logo--catalog:focus {

  opacity: 0.7;

}

.navigation__logo--catalog:active {

  opacity: 0.3;

}

.navigation {

  display: grid;
  grid-template-columns: 160px 1fr 160px;
  column-gap: 40px;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: transparent;
  text-transform: uppercase;

}



.navigation__list {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 100%;
  min-height: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.navigation__item {

  position: relative;
  text-align: center;
  padding-right: 45px;
  min-width: 65px;

}

.navigation__item:last-child {

  padding-right: 0;

}



.navigation--current::before {

  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  min-width: 75px;
  height: 2px;
  background-color: var(--basic-red);
  opacity: 1;

}


.navigation__list a,
.basket a {

  color: var(--basic-black);
  text-decoration: none;

}

.basket {

  position: relative;
  text-align-last: justify;
  padding-left: 37px;
  min-width: 115px;

}

.navigation__list a:hover,
.navigation__list a:focus,
.basket a:hover span,
.basket a:focus span {

  color: var(--basic-red);
  transition: 0.6s ease-in-out
}

.navigation__list a:active,
.basket a:active span {

  color: var(--basic-black);
  opacity: 30%;
  transition: 0.25s ease-in-out
}



/* slider */

.slider {

  position: relative;
  background-color: var(--basic-grey);

}



.slider__list {

  display: grid;
  margin: 0;
  padding: 0;
  min-height: 431px;
  list-style-type: none;
  text-align: left;

}

.slider__item--description {

  max-width: 530px;
  white-space: pre-line;
  padding-top: 20px;

}


.slider__item h2 {

  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);

}

.slider__item p {

  margin: 0;
  padding: 0;
  margin-bottom: 16px;

}

.slider__item:first-child {

  background-image: url(../img/slider-first.png);
  background-position: right top;
  background-repeat: no-repeat;
}

.slider__item:nth-child(2) {

  background-image: url(../img/slider-second.png);
  background-position: right top;
  background-repeat: no-repeat;

}

.slider__item:nth-child(3) {

  background-image: url(../img/slider-third.png);
  background-position: right top;
  background-repeat: no-repeat;

}

.slider__item {

  display: none;

}

.slider__item--current {

  display: block;

}

.slider__navigation {

  display: flex;
  position: absolute;
  bottom: 24%;
  left: 50%;
  transform: translateX(-50%);
}

.slider__button {

  position: relative;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  background: var(--basic-white);
  outline: none;
  border: none;
  cursor: pointer;


}

.slider__button--current::before {

  content: "";
  display: inline-block;
  position: relative;
  width: 2px;
  height: 2px;
  right: 0;
  bottom: 3px;
  border: 2px solid #E1E1E1;
  border-radius: 50%;

}


/* offers */


.offers {

  padding: 0;
  margin-top: 80px;
  margin-bottom: 80px;

  background-color: var(--basic-white);


}

.offers__item--applications img {

  display: block;
  background: var(--basic-green);

}

.offers__item--presentations img {

  display: block;
  background: var(--basic-yellow);

}

.offers__list {

  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 300px);
  column-gap: 100px;
  list-style: none;
}

.offers__item h2 {

  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;

}


.offers__item p {

  white-space: pre-line;
  min-width: 280px;
  min-height: 48px;
  margin-bottom: 32px;

}


/* company */


.about-company {

  display: grid;
  padding: 0;
  margin-bottom: 75px;
  grid-template-columns: 1fr 1fr;
  column-gap: 149px;
  grid-template-rows: 1fr;

}

.about-company::after {

  content: "";
  display: block;
  position: absolute;
  width: 1160px;
  height: 2px;
  background-color: var(--basic-grey);
  margin-bottom: 30px;

}

.company {

  min-width: 650px;
  margin-top: 73px;

}

.company h3 {

  margin-top: 40px;
  margin-bottom: 23px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: var(--basic-text-black);
  text-transform: uppercase;

}

.company__title {

  margin: 0;
  margin-bottom: 32px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);

}

.company__text {

  margin: 0;

}

.company__list {

  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

}

.company__item {

  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;

}

.company__item::before {

  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);

}

/* company statistic */


.statistics {

  margin: 0;
  margin-top: 39px;
  padding: 0;

}

.statistics h3 {

  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);

}

.indication {

  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.indication li {

  max-width: 120px;
}

.indication__term {

  margin: 0;
  margin-bottom: 11px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);

}

.indication__text {

  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-text-black);

}

.indication sup {

  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);

}


.clients {

  position: relative;
  display: flex;
  min-height: 180px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 80px;

}

.clients::before,
.clients::after {

  content: "";
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 2px;
  background-color: var(--basic-grey);

}

.clients::after {

  top: 100%;
  left: 0;

}


.clients__list {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 30px;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 50px;
  padding-bottom: 44px;

}


.clients__item {

  position: relative;
  padding: 0 40px;

}




.clients__link {

  opacity: 0.2;

}

.clients__item::after {

  content: "";
  position: absolute;
  margin: 0;
  margin-left: 50px;
  width: 2px;
  height: 58px;
  bottom: 50%;
  opacity: 1;
  background-color: var(--basic-grey);
  transform: translateY(50%);

}

.clients__item:last-child::after {

  display: none;

}

.clients__link:hover,
.clients__link:focus {

  opacity: 1;
  transition: 0.25s ease-in-out;

}

.clients__link:active {

  opacity: 0.1;

}



/* buttons */


.button--item {

  padding: 16px 55px;
  background: var(--basic-red);
  text-transform: none;

}

.button--item:active>span {

  opacity: 0.3;

}

.button--green {

  background-color: var(--basic-green);

}

.button--green:hover,
.button--green:focus {

  background: var(--focus-green);

}

.button--green:active {

  background: var(--active-green);

}

.button--green:active>span {

  opacity: 0.3;

}

.button--yellow {

  background-color: var(--basic-yellow);

}

.button--yellow:hover,
.button--yellow:focus {

  background: var(--focus-yellow);

}

.button--yellow:active {


  background: var(--active-yellow);

}

.button--yellow:active>span {

  opacity: 0.3;

}

.button--red {

  background-color: var(--basic-red);

}

.button--red:active>span {

  opacity: 0.3;

}

.button--catalog {

  width: 100%;
  margin-top: 57px;
  color: var(--basic-black);
  background: var(--basic-grey);
  text-transform: none;
  cursor: pointer;


}

.button--catalog:hover,
.button--catalog:focus {

  background: var(--focus-grey);
  outline: none;

}

.button--catalog:active {

  background: var(--active-grey);

}

.button--catalog:active>span {

  opacity: 0.3;

}

.button--contacts {

  padding: 16px 45px;
  margin-top: 37px;

}

.button--contacts:hover,
.button--contacts:focus {

  outline: none;

}


.socials__button:hover,
.socials__button:focus {

  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
  transition: 0.25s ease-in-out;
}

.socials__button:active {

  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  transition: 0.25s ease-in-out;
}

.socials__button:active>svg {

  opacity: 0.3;
  transition: 0.25s ease-in-out;
}

.socials__button {

  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  width: 81px;
  height: 81px;
  border-radius: 50%;

}

.button--pages {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 50px;
  padding: 0;
  text-align: center;
  color: var(--basic-black);
  background: var(--basic-grey);

}

.button--pages:focus,
.button--pages:hover {

  background: var(--focus-grey);

}

.button--pages:active {

  background: var(--active-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

.button--pages:active>span {

  opacity: 0.3;

}

.current {

  box-sizing: border-box;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-grey);
  border-radius: 3px;
  cursor: pointer;

}

.sort__item--button {

  opacity: 0.3;

}

.sort__item--button:hover,
.sort__item--button:focus {

  opacity: 60%;
  color: var(--basic-black);

}

.sort__item--button:active {

  color: var(--basic-black);
  opacity: 100%;

}

.sort__item--current {

  color: var(--basic-black);
  opacity: 100%;

}


/* footer */

.map-contacts {

  position: relative;

}

.contacts {

  position: relative;
  min-width: 1160px;
  margin-bottom: 15px;

}

.map {

  width: 100%;
  height: 416px;

}



.write-us {

  position: absolute;
  text-align: left;
  left: 0;
  bottom: 54px;
  padding: 53px 50px;
  background-color: var(--basic-white);

}



.contacts__title {

  margin: 0;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;

}

.contacts__phone,
.contacts__adress {

  white-space: pre-line;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  color: var(--contacts-grey);
  font-size: 16px;
  line-height: 18px;

}

.marker {

  position: absolute;
  bottom: 150px;
  right: 350px;
  margin: auto;
  padding: 50px 50px;

}


.contacts__phone {

  white-space: normal;
  margin-top: 22px;

}

.contacts__phone a {

  font-weight: 400;
  font-style: normal;
  color: var(--contacts-grey);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;

}

.socials-discount {

  display: grid;
  grid-template-columns: 360px 1fr;

}


.socials {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 48px;
  padding: 0;
  list-style: none;

}

.socials__item {

  padding-right: 10px;

}

.discount {

  display: flex;
  flex-direction: column;
  align-self: center;
  flex-wrap: wrap;
  margin-left: 38px;

}


.discount__title {

  margin: 0;
  padding-top: 25px;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  text-align: left;
  margin-bottom: 0;

}

.discount__text {

  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  text-align: left;

}

/* POPUP */



.popup {

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 960px;
  max-height: 590px;
  margin: auto;
  background: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);

}

.popup-show {

  display: block;
  animation: bounce 0.6s;

}

.popup-error {

  animation: shake 0.6s;
}

.popup__title {

  position: relative;
  margin: 0;
  padding-left: 100px;
  padding-top: 63px;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);

}

.popup__close {

  position: absolute;
  width: 21px;
  height: 21px;
  right: 0;
  top: -20%;
  background-image: url(../img/popup-close-icon.svg);
  opacity: 0.3;
  border: none;
  background-color: white;
  outline: none;
  transition: 0.25 ease-in-out;

}

.popup__close:hover {

  opacity: 1;

}

.popup__close:active {

  opacity: 0.1;

}


.feedback {
  position: relative;
  display: grid;
  margin: 36px 100px 85px 100px;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;

}

.feedback input {

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;

}

.feedback input:focus {

  opacity: 1;

}

.feedback__email {

  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

}

.feedback__name {

  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

}

.button--feedback {

  display: grid;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 260px;
  height: 50px;
  outline: none;

}

.feedback__textarea {

  display: grid;
  grid-column: 1 / 3;
  grid-row: 2 / 3;

}

.feedback input {

  margin-top: 9px;
  margin-bottom: 32px;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  min-height: 50px;

}

.feedback__name input:hover,
.feedback__email input:hover {


  border: 2px solid #B4B9BB;
  min-height: 50px;

}

.feedback__name input:focus,
.feedback__email input:focus {

  border: 2px solid var(--basic-black);
  min-height: 50px;

}

.feedback label {

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);

}

.feedback__textarea input {

  margin-top: 9px;
  margin-bottom: 49px;
  min-height: 118px;
  outline: none;
  text-align: left;
  vertical-align: top;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;

}

.feedback__teaxtarea input:focus {

  border: 2px solid var(--basic-black);
  min-height: 118px
}

.feedback__textarea input:hover {

  border: 2px solid #B4B9BB;
  min-height: 118px;

}

/* Catalog Styles */


/* Catalog Form */

.catalog {

  display: grid;
  grid-template-columns: 260px 1fr;
  margin-bottom: 60px;
  margin-top: 55px;

}


.catalog__form fieldset {

  padding: 0;
  margin: 0;
  border: none;

}

.catalog__form {

  grid-row: 1 / 3;

}

.types {

  margin-left: 140px;

}

.header h1 {

  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  padding-top: 65px;
  padding-bottom: 110px;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;

}

.price__filter {

  margin: 0;
  padding: 0;
  width: 260px;
  margin: 50px auto;

}


.price__controls {

  position: relative;
  height: 41px;
  margin-bottom: 13px;

  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;

}

.button-price {

  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 2px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;

}

.button-price--min {

  left: 18px;

}

.button-price--max {

  left: 160px;

}

.price__scale {

  height: 2px;
  background: #d7dcde;

}

.price__bar {

  width: 70%;
  height: 2px;
  background: var(--basic-green);

}

.grid,
.features {

  display: flex;
  flex-direction: column;
  width: 208px;

}


.price__value {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-text-black);

}


.grid__input+span::before {

  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 25px;
  height: 25px;
  background-image: url(../img/catalog/grid-radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}

.grid__input+span:hover::before,
.grid__input+span:focus::before {

  opacity: 1;

}

.grid__input:disabled+span::before {

  opacity: 0.1;

}


.grid__input:checked+span::after {

  content: "";
  position: absolute;
  left: 8px;
  top: 23px;
  width: 9px;
  height: 9px;
  background-image: url(../img/catalog/grid-radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}

.grid__input:checked+span:hover::after,
.grid__input:checked+span:focus::after {

  opacity: 1;

}

.grid__input:checked:disabled+span::after {

  opactiy: 0.1;

}

.price__value input {

  width: 80px;
  padding: 10px 0;
  margin-left: 7px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  line-height: 22px;
  color: var(--basic-text-black);
  background: var(--basic-grey);

}

.price__value--min-price {

  margin-right: 30px;

}

.features__title,
.grid__title,
.price__title {

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;

}


.grid__text,
.features__text {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-text-black);

}



.features__title {

  padding-top: 52px;

}


.features__input+span::before {

  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 15px;
  width: 23px;
  height: 23px;
  background-image: url(../img/catalog/features-checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}

.features__input:checked+span::before {

  content: "";
  position: absolute;
  left: 0px;
  top: 15px;
  width: 23px;
  height: 23px;
  background-image: url(../img/catalog/features-checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features__input:checked+span:hover::before,
.features__input:checked+span:focus::before {

  opacity: 1;

}

.features__input:checked:disabled+span::before {

  opacity: 0.1;

}

.features__input:disabled+span::before {

  opacity: 0.1;

}

.features__input+span:hover::before,
.features__input+span:focus::before {

  opacity: 1;

}


.features label,
.grid label {

  position: relative;
  display: block;
  cursor: pointer;
  padding-top: 14px;
  padding-left: 38px;

}

.sort {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;

}

.sort__title {

  display: flex;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);

}

.sort__list {

  display: flex;
  align-self: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  list-style-type: none;

}


.sort__item {

  padding-right: 24px;

}

.sort__item:last-child {

  padding-right: 0;

}

.sort__item:nth-child(4) {

  padding-right: 20px;

}

.sort__item a {

  color: var(--basic-black);
  text-decoration: none;

}

/* templates */


.button--templates {

  margin-top: 32px;
  margin-bottom: 48px;
  padding: 16px 75px;

}

.templates {

  margin-left: 140px;

}

.templates__card {


  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  background: var(--basic-grey);
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out
}


.templates__list {

  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 41px;
  padding: 0;
  margin: 0;
  margin-top: 49px;
  margin-bottom: 45px;
  list-style: none;

}

.templates__item {

  position: relative;
  min-width: 360px;
  min-height: 580px;
  box-sizing: border-box;

}



.templates__title {

  display: inline-block;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 13px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);

}

.templates__title:hover,
.templates__title:focus {

  color: var(--basic-red);

}


.templates__title:active {

  color: var(--basic-black);
  opacity: 30%;

}

.templates__text {

  margin: 0;
  min-width: 255px;
  min-height: 36px;
  white-space: pre-line;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--contacts-grey);

}

.templates__item::before {

  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  background-image: url(../img/catalog/browse-template.svg);
  opacity: 0.12;
  top: 0;
  left: 0;

}


.templates__item:hover::before,
.templates__item:focus::before {

  opacity: 1;
}

.templates__item:focus,
.templates__item:hover {

  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);

}


.templates__item:hover>.templates__card,
.templates__item:focus>.templates__card {

  opacity: 1;

}

.pages {

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;

}

.pages a {


  color: var(--basic-black);
  text-decoration: none;
  margin-right: 10px;
  vertical-align: middle;
}

.pages li:last-child {

  width: 275px;

}
